.drawer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  @apply bg-gray-100/50;
}

.drawer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;

  @apply bg-white border-l border-gray-200 p-4;
}

.drawer-container.small {
  width: 280px;
}

.drawer-container.medium {
  width: 400px;
}

.drawer-container.large {
  width: 700px;
}
